<h2>CHAT</h2>

<h3 id="name"></h3>
<form id="msjForm">
  <input type="text" name="msj" id="msj" />
    <input type="text" name="email" id="email" />

  <input type="submit" value="Enviar" />
</form>

<div id="chat"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>